<tr>
    <td> {{id}} </td>
    <td>
        <img src="/gfx/{{img}}" alt="">
    </td>
    <td> {{name}} </td>
    <td> {{size}} </td>
    <td> {{type}} </td>
    <td>
        <a href="/delete?id={{id}}">delete</a>
    </td>
    <td>
        <a href="/info?id={{id}}">info</a>
    </td>
    <td>
        <a href="/download?id={{id}}">download</a>
    </td>
</tr>