<aside>
    <div class="title">
        file info
    </div>
</aside>
<div class="content">
    <p>
        <span class="key">id:</span>
        <span class="value">{{id}}</span>
    </p>
    <p>
        <span class="key">name:</span>
        <span class="value">{{name}}</span>
    </p>
    <p>
        <span class="key">path:</span>
        <span class="value">{{path}}</span>
    </p>
    <p>
        <span class="key">size:</span>
        <span class="value">{{size}}</span>
    </p>
    <p>
        <span class="key">type:</span>
        <span class="value">{{type}}</span>
    </p>
    <p>
        <span class="key">savedate:</span>
        <span class="value">{{saveDate}}</span>
    </p>
</div>